sample_dataflows/csv_to_json_demo_dataflow.json
{"flowContents":{"identifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","instanceIdentifier":"f64db92c-018b-1000-6219-7c6278e136b1","name":"Demo CSV to JSON Group","comments":"","position":{"x":-112.0,"y":144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"59e2655c-58a1-360a-84d3-f9d14d1ed858","instanceIdentifier":"c59d941c-1b8d-3772-dbf2-028fbcebcc27","name":"Log Error Message","comments":"","position":{"x":640.0,"y":440.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#fa0303"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"77e65b65-b5d6-3de0-8200-2f9028192aad","instanceIdentifier":"dc7f2197-3c30-3d9c-e71d-72f271261723","name":"Set JSON Filename","comments":"","position":{"x":88.0,"y":448.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#5ad1b9"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"2e1fde27-13a8-38a1-b4e1-74d88b175a46","instanceIdentifier":"7a52a408-91fe-3311-288a-a8c927c1b34f","name":"Write JSON File to Directory","comments":"","position":{"x":88.0,"y":600.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"sample_data/output_data/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#8c3030"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"392d06c4-40e8-3999-966a-ccf3aeaba579","instanceIdentifier":"39087fce-ae6f-3758-1ff9-531abcb41e54","name":"Convert CSV to JSON","comments":"","position":{"x":88.0,"y":296.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"record-writer":"65d0a178-fe54-3eec-aba1-0d35426c4479","record-reader":"5b2c7f7a-1d68-3f57-9693-3c3b79aa158c","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#e0a424"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"0e645292-7a4c-3948-bf04-7cab14d4db6d","instanceIdentifier":"c832af18-c4e0-3f6e-16dd-791dabf5247d","name":"Set Schema Metadata","comments":"","position":{"x":88.0,"y":152.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"inventory","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#319e29"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"e213bec6-f4f8-30ce-ac23-c77083662793","instanceIdentifier":"bd1ba9b3-c98a-31b6-965d-4401684e9e05","name":"Get CSV File from Directory","comments":"","position":{"x":88.0,"y":8.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"sample_data/inventory/","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"inventory.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#7484c2"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8a5de3cb-71bc-33db-932c-dd81a4f4067f","instanceIdentifier":"ab017cb5-2318-3bb7-2aaf-d92d393bfa8d","name":"","source":{"id":"e213bec6-f4f8-30ce-ac23-c77083662793","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Get CSV File from Directory","comments":"","instanceIdentifier":"bd1ba9b3-c98a-31b6-965d-4401684e9e05"},"destination":{"id":"0e645292-7a4c-3948-bf04-7cab14d4db6d","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Set Schema Metadata","comments":"","instanceIdentifier":"c832af18-c4e0-3f6e-16dd-791dabf5247d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-48.0,"y":128.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"a21344c4-32cf-3843-b068-58cb9ef7da59","instanceIdentifier":"675b8acb-b8bb-32b8-986d-cfdf54a1f00e","name":"","source":{"id":"2e1fde27-13a8-38a1-b4e1-74d88b175a46","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Write JSON File to Directory","comments":"","instanceIdentifier":"7a52a408-91fe-3311-288a-a8c927c1b34f"},"destination":{"id":"59e2655c-58a1-360a-84d3-f9d14d1ed858","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Log Error Message","comments":"","instanceIdentifier":"c59d941c-1b8d-3772-dbf2-028fbcebcc27"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":744.0,"y":664.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"9af54dec-0716-366a-8cbf-9a7dc3574c67","instanceIdentifier":"bf7b5fe6-afa1-3e32-2302-4b34895589fc","name":"","source":{"id":"392d06c4-40e8-3999-966a-ccf3aeaba579","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Convert CSV to JSON","comments":"","instanceIdentifier":"39087fce-ae6f-3758-1ff9-531abcb41e54"},"destination":{"id":"59e2655c-58a1-360a-84d3-f9d14d1ed858","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Log Error Message","comments":"","instanceIdentifier":"c59d941c-1b8d-3772-dbf2-028fbcebcc27"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":664.0,"y":360.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"d68cd633-49c7-3ba3-b29d-88b5e42ce4f2","instanceIdentifier":"8128bd53-ede9-3403-c706-25ba19b3f2f3","name":"","source":{"id":"392d06c4-40e8-3999-966a-ccf3aeaba579","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Convert CSV to JSON","comments":"","instanceIdentifier":"39087fce-ae6f-3758-1ff9-531abcb41e54"},"destination":{"id":"77e65b65-b5d6-3de0-8200-2f9028192aad","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Set JSON Filename","comments":"","instanceIdentifier":"dc7f2197-3c30-3d9c-e71d-72f271261723"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-48.0,"y":432.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"6df612d8-02d3-3672-a307-b99ef45609b3","instanceIdentifier":"c34576c4-f4ce-36aa-7f1b-4d660fd0811f","name":"","source":{"id":"0e645292-7a4c-3948-bf04-7cab14d4db6d","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Set Schema Metadata","comments":"","instanceIdentifier":"c832af18-c4e0-3f6e-16dd-791dabf5247d"},"destination":{"id":"392d06c4-40e8-3999-966a-ccf3aeaba579","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Convert CSV to JSON","comments":"","instanceIdentifier":"39087fce-ae6f-3758-1ff9-531abcb41e54"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-48.0,"y":288.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"da970590-88e7-3810-af88-d09242d67da5","instanceIdentifier":"e569affb-3fe6-3a4d-21a2-5a0f33d9a896","name":"","source":{"id":"77e65b65-b5d6-3de0-8200-2f9028192aad","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Set JSON Filename","comments":"","instanceIdentifier":"dc7f2197-3c30-3d9c-e71d-72f271261723"},"destination":{"id":"2e1fde27-13a8-38a1-b4e1-74d88b175a46","type":"PROCESSOR","groupId":"20ef10af-f25d-36ef-be31-bcbcca2a4b69","name":"Write JSON File to Directory","comments":"","instanceIdentifier":"7a52a408-91fe-3311-288a-a8c927c1b34f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-48.0,"y":592.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"}],"labels":[{"identifier":"cca7e804-e6f7-350b-b5d6-c490a6a8b37b","instanceIdentifier":"0bfe62da-2c3a-3e21-43e9-f5ffcfaa23b2","position":{"x":448.0,"y":8.0},"label":"Start here.\nRead CSV file(s) into FlowFile(s)","zIndex":0,"width":192.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"8728f687-33d8-30fd-964b-f5af21ac13c7","instanceIdentifier":"3b320127-1287-3b64-cf03-aa1ef4c38a62","position":{"x":800.0,"y":408.0},"label":"Error handling","zIndex":0,"width":184.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"4a7ca59c-c41e-3262-bf6e-a4980ec2d547","instanceIdentifier":"2c3a3e21-62da-1bfe-9103-6ad099203c65","position":{"x":448.0,"y":288.0},"label":"Record Processor does\nCSV to JSON conversion","zIndex":0,"width":144.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"bcbd7cf1-d95a-3739-93b7-55459acfb4d1","instanceIdentifier":"62da1bfe-3e21-1c3a-b9f6-1e62ac051c17","position":{"x":448.0,"y":464.0},"label":"Update filename attribute\nto suitable name for\nwriting to disk","zIndex":0,"width":152.0,"height":64.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"bddb7799-1ea6-37a3-9f20-b836b4e4023d","instanceIdentifier":"3e211c3a-1bfe-12da-c76a-ea5a75ba7519","position":{"x":448.0,"y":600.0},"label":"Write FlowFile\nto disk","zIndex":0,"width":88.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"53078f1c-ef0f-379b-b568-a16a599745b8","instanceIdentifier":"7f5457e8-ae7b-334d-a5dd-dfc018145642","position":{"x":448.0,"y":152.0},"label":"Set schema attribute (metadata) so\nthat we can later understand which\nschema to use to process the data:\n\n  schema.name=\"inventory\"","zIndex":0,"width":224.0,"height":88.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"}],"funnels":[],"controllerServices":[{"identifier":"1954e11d-9699-3fbb-837c-fe51b6458fa4","instanceIdentifier":"545adebc-cf38-3259-226b-2ce362452827","name":"AvroReader","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.0"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"65d0a178-fe54-3eec-aba1-0d35426c4479","instanceIdentifier":"371ca388-5281-35b4-041d-3ea94139b773","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"schema-name","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"62e2934b-6265-372f-9067-f4ce9d0bf2e7","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"62e2934b-6265-372f-9067-f4ce9d0bf2e7","instanceIdentifier":"59c12ae3-2e1c-3819-7b53-1fa73d4e552e","name":"AvroSchemeRegistry-DemoCSVtoJSONGroup","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.23.0"},"properties":{"avro-reg-validated-field-names":"true","inventory":"{\n  \"type\": \"record\",\n  \"name\": \"inventory\",\n  \"fields\": [\n    {\"name\": \"Store\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"Item\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"Quantity\", \"type\": [\"null\", \"int\"]}\n  ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"inventory":{"name":"inventory","displayName":"inventory","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"},{"identifier":"5b2c7f7a-1d68-3f57-9693-3c3b79aa158c","instanceIdentifier":"9f5637b2-92b2-3bc9-7921-e81eb8046552","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.0"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":"62e2934b-6265-372f-9067-f4ce9d0bf2e7","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"20ef10af-f25d-36ef-be31-bcbcca2a4b69"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}