sample_dataflows/Demo_Ingest_HTTP_Events.json
{"flowContents":{"identifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","instanceIdentifier":"09477d06-018b-1000-ffff-ffffb653235e","name":"Demo Ingest HTTP Events","comments":"","position":{"x":344.0,"y":136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e17865c5-8eaf-3e19-ac6f-039471a96724","instanceIdentifier":"60dc6f56-018b-1000-d85d-550b7ebffe01","name":"Attributes from JSON","comments":"","position":{"x":24.0,"y":72.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Destination":"flowfile-attribute","_event.source_system":"$.source_system","Return Type":"scalar","Null Value Representation":"the string 'null'","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"_event.source_system":{"name":"_event.source_system","displayName":"_event.source_system","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#529e6c"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"ad3ea4c2-80d4-3bad-bf71-4969e4eaa6d4","instanceIdentifier":"65ccc14f-018b-1000-ab34-0157fb8a5454","name":"Wait","comments":"","position":{"x":-216.0,"y":440.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":null,"releasable-flowfile-count":"1","release-signal-id":null,"signal-counter-name":null,"expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#4c5357"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"b2ee8c4f-cf4f-3640-b5ab-7ba8ef0fe5d7","instanceIdentifier":"60e1b77a-018b-1000-40b5-b98a824e97f5","name":"Route by Source System","comments":"","position":{"x":24.0,"y":216.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Routing Strategy":"Route to Property name","fulfilmentSystem":"${_event.source_system:equals(\"fulfilmentSystem\")}","contactCenter":"${_event.source_system:equals(\"contactCenter\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"fulfilmentSystem":{"name":"fulfilmentSystem","displayName":"fulfilmentSystem","identifiesControllerService":false,"sensitive":false},"contactCenter":{"name":"contactCenter","displayName":"contactCenter","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#7d7d50"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"3fa8a767-4d6d-339f-b79a-0d9fed2177c8","instanceIdentifier":"018a1000-10e4-1b61-3218-08ede7897cf6","name":"ListenHTTP","comments":"","position":{"x":24.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"events","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"65432"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#5a7de0"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"543bb9ae-5b8e-3b7b-9858-b9d34d6541cc","instanceIdentifier":"60e3d0b2-018b-1000-e45d-cac776c3ba4d","name":"Errors end up here...","comments":"","position":{"x":680.0,"y":112.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":null,"releasable-flowfile-count":"1","release-signal-id":null,"signal-counter-name":null,"expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#ff0a0a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"c7c901dc-1e23-3079-aff6-5caa213d8274","instanceIdentifier":"65d96416-018b-1000-ecea-705538c4712a","name":"Wait","comments":"","position":{"x":296.0,"y":440.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":null,"releasable-flowfile-count":"1","release-signal-id":null,"signal-counter-name":null,"expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#4c5357"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b4c62bc4-3c28-350d-bb61-a84cdbd40541","instanceIdentifier":"60e3e772-018b-1000-14fc-621d8a1a2efa","name":"","source":{"id":"e17865c5-8eaf-3e19-ac6f-039471a96724","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Attributes from JSON","comments":"","instanceIdentifier":"60dc6f56-018b-1000-d85d-550b7ebffe01"},"destination":{"id":"543bb9ae-5b8e-3b7b-9858-b9d34d6541cc","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Errors end up here...","comments":"","instanceIdentifier":"60e3d0b2-018b-1000-e45d-cac776c3ba4d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"ca983efe-d75d-3751-8e7c-dd3ec4353d09","instanceIdentifier":"65cc6e94-018b-1000-22d5-6a75e9229ebc","name":"","source":{"id":"b2ee8c4f-cf4f-3640-b5ab-7ba8ef0fe5d7","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Route by Source System","comments":"","instanceIdentifier":"60e1b77a-018b-1000-40b5-b98a824e97f5"},"destination":{"id":"543bb9ae-5b8e-3b7b-9858-b9d34d6541cc","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Errors end up here...","comments":"","instanceIdentifier":"60e3d0b2-018b-1000-e45d-cac776c3ba4d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"512bf325-806e-39f3-994f-e1cd473347f0","instanceIdentifier":"60e1d7fa-018b-1000-b675-c1afcb2f6dad","name":"","source":{"id":"e17865c5-8eaf-3e19-ac6f-039471a96724","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Attributes from JSON","comments":"","instanceIdentifier":"60dc6f56-018b-1000-d85d-550b7ebffe01"},"destination":{"id":"b2ee8c4f-cf4f-3640-b5ab-7ba8ef0fe5d7","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Route by Source System","comments":"","instanceIdentifier":"60e1b77a-018b-1000-40b5-b98a824e97f5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-112.0,"y":208.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"7b4de87e-dfcd-3fcd-a5f6-6a689f148ec9","instanceIdentifier":"60dc8a6d-018b-1000-8f70-f4776e05f33f","name":"","source":{"id":"3fa8a767-4d6d-339f-b79a-0d9fed2177c8","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"ListenHTTP","comments":"","instanceIdentifier":"018a1000-10e4-1b61-3218-08ede7897cf6"},"destination":{"id":"e17865c5-8eaf-3e19-ac6f-039471a96724","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Attributes from JSON","comments":"","instanceIdentifier":"60dc6f56-018b-1000-d85d-550b7ebffe01"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-112.0,"y":64.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"eb780a4d-6cfe-3ab2-93e2-9be6b82259de","instanceIdentifier":"65d2446b-018b-1000-736c-deaad1dd23ae","name":"","source":{"id":"b2ee8c4f-cf4f-3640-b5ab-7ba8ef0fe5d7","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Route by Source System","comments":"","instanceIdentifier":"60e1b77a-018b-1000-40b5-b98a824e97f5"},"destination":{"id":"ad3ea4c2-80d4-3bad-bf71-4969e4eaa6d4","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Wait","comments":"","instanceIdentifier":"65ccc14f-018b-1000-ab34-0157fb8a5454"},"labelIndex":0,"zIndex":0,"selectedRelationships":["fulfilmentSystem"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-40.0,"y":392.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"80625235-4eb5-3895-8889-dbc5bf47cb4d","instanceIdentifier":"65d97e6d-018b-1000-630d-46e19a2c0f23","name":"","source":{"id":"b2ee8c4f-cf4f-3640-b5ab-7ba8ef0fe5d7","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Route by Source System","comments":"","instanceIdentifier":"60e1b77a-018b-1000-40b5-b98a824e97f5"},"destination":{"id":"c7c901dc-1e23-3079-aff6-5caa213d8274","type":"PROCESSOR","groupId":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31","name":"Wait","comments":"","instanceIdentifier":"65d96416-018b-1000-ecea-705538c4712a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["contactCenter"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":464.0,"y":392.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"}],"labels":[{"identifier":"9fe0a4fa-5075-34d2-b3da-cdf79c9ccbf0","instanceIdentifier":"dcef10ba-1000-118c-b805-1b8232f60c9e","position":{"x":760.0,"y":88.0},"label":"Error Handling","zIndex":0,"width":112.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"b0f5faba-aa9c-37c6-b3e4-3a7794a605cf","instanceIdentifier":"00badcef-018c-1000-6d25-7f0aa194d89a","position":{"x":376.0,"y":72.0},"label":"Extract source system from content\nJSON to FlowFile attribute","zIndex":0,"width":216.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"2024eced-3cd7-3475-847d-6890602376b8","instanceIdentifier":"018c1000-dcef-10ba-bb18-9a8549280776","position":{"x":376.0,"y":280.0},"label":"Route event based on FlowFile attribute\nof source system","zIndex":0,"width":232.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"},{"identifier":"353afcc1-6f14-3cb4-9746-6027986f207e","instanceIdentifier":"dcef10bc-1000-118c-4e93-1ac246f62e73","position":{"x":376.0,"y":-88.0},"label":"Starts here.\nReceive events via HTTP and\nturn them into FlowFiles","zIndex":0,"width":176.0,"height":56.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"829bd0ae-68e3-3aa2-8879-d7ff430c7e31"}],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}